body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.form {
    background: rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    padding: 40px 30px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form h1 {
    background: rgba(255, 255, 255, 0.1); /* Light circular background */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 50px;
    margin: 0 auto 20px auto; /* Centering the icon */
}


.form .email, .form .password {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.form .email i, .form .password i {
    margin-right: 10px;
    font-size: 18px;
}

.form input[type="text"] {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
}

.form .remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 14px;
}

.form .remember input {
    margin-right: 5px;
}

.form button {
    width: 100%;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border: none;
    padding: 12px;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.form button:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
}
